body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container {
    flex: 1;
}
.navbar {
    height : 5rem;
    background-color: rgb(245, 249, 252);
}
.container-fluid .navbar-collapse {
    background-color: rgb(245, 249, 252);
}
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color : #222222 !important; 
}
/* important means to override bootstrap navbar file  */

.footer-lst{
    background-color: rgb(246, 250, 253);
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links,
.f-info-socials , .f-info-brand{
    font-size: 1.3rem;
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important; 
}

.card-body{
    padding:0 !important;

}
.card-text p {
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: 0 !important;
}

/* edit page */

.edit-btn{
    background-color: #fe424d !important;
    border: 0 !important;
}

/* show page */
.show-image{
    height: 30vh;
}

.btns{
    display: flex;

}

.show-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/* Maps */

#myMap {
    width:90vh;
    height:400px;
}

.mapBottom {
    background-color: aliceblue;
    width: 90vh;
}

/* index.ejs */

#filters {
    display: flex;
    align-items: center;
    overflow: scroll;

}
#filters::-webkit-scrollbar {
    display: none;
  }
.filter {
    text-align: center ;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity : 0.7;
}

.filter:hover {
    opacity : 1;
    cursor : pointer;
}

.tax-info{
    display: none;
}

.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding:1rem;   
    display: flex;
    align-items: center;
    margin-right: 1rem;
}


/* currProfile */

.currProfile-list{
    font-weight: bolder;
    color: black;
}

.currProfile-list:hover{
    color : red;
}

.show-all-listing-map {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    opacity: 1;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 1%;
    text-decoration: none;
    cursor: pointer;
}
.show-all-listing-map:hover{
    padding: 1.5%;
    transition: all 0.5s ease-in-out;
}
.show-all-listing-map i{
   text-decoration: none;
   font-size: 1.5rem;
   margin:4px
}


/* Media query for medium screens */
@media only screen and (min-width: 100px) and (max-width: 500px) {
    #myMap {
        width:40vh;
        height:300px;
    }
    .mapBottom {
        width:40vh;
    }
}

